{% extends "base.html" %}
{% load static %}
{% block title %}Ingreso de usuarios{% endblock %}

{% block content %}

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}

<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow" style="width: 22rem;">
    <img src="{% static 'images/logo.jpg' %}" class="card-img-top" alt="logo">
    <h3 class="text-center mb-3">Iniciar sesión</h3>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary w-100 mt-2">Entrar</button>
      <div class="text-center mt-3">
        <a href="">¿Desea recuperar su contraseña?</a>
      </div>
    </form>
  </div>
</div>


{% endblock content %}